/* You can add global styles to this file, and also import other style files */
.avatarFrameOffline {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);

    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
}

.avatarFrameOnline {
    background: rgba(19,214,29,1);
    background: -moz-linear-gradient(top, rgba(19,214,29,1) 0%, rgba(146,232,66,1) 55%, rgba(33,216,33,1) 95%, rgba(19,214,29,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,214,29,1)), color-stop(55%, rgba(146,232,66,1)), color-stop(95%, rgba(33,216,33,1)), color-stop(100%, rgba(19,214,29,1)));
    background: -webkit-linear-gradient(top, rgba(19,214,29,1) 0%, rgba(146,232,66,1) 55%, rgba(33,216,33,1) 95%, rgba(19,214,29,1) 100%);
    background: -o-linear-gradient(top, rgba(19,214,29,1) 0%, rgba(146,232,66,1) 55%, rgba(33,216,33,1) 95%, rgba(19,214,29,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,214,29,1) 0%, rgba(146,232,66,1) 55%, rgba(33,216,33,1) 95%, rgba(19,214,29,1) 100%);
    background: linear-gradient(to bottom, rgba(19,214,29,1) 0%, rgba(146,232,66,1) 55%, rgba(33,216,33,1) 95%, rgba(19,214,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13d61d', endColorstr='#13d61d', GradientType=0 );
    -webkit-box-shadow: 0px 0px 88px -10px rgba(19,214,29,1);
    -moz-box-shadow: 0px 0px 88px -10px rgba(19,214,29,1);
    box-shadow: 0px 0px 88px -10px rgba(19,214,29,1);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
}

.center {
    text-align: center !important;
}

.marto15 {
    margin-top: 15px;
}

.marbo15 {
    margin-bottom: 15px;
}

.clrbnt {
    background: rgba(121,202,243,1);
    background: -moz-linear-gradient(top, rgba(121,202,243,1) 0%, rgba(54,178,235,1) 50%, rgba(121,202,243,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(121,202,243,1)), color-stop(50%, rgba(54,178,235,1)), color-stop(100%, rgba(121,202,243,1)));
    background: -webkit-linear-gradient(top, rgba(121,202,243,1) 0%, rgba(54,178,235,1) 50%, rgba(121,202,243,1) 100%);
    background: -o-linear-gradient(top, rgba(121,202,243,1) 0%, rgba(54,178,235,1) 50%, rgba(121,202,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(121,202,243,1) 0%, rgba(54,178,235,1) 50%, rgba(121,202,243,1) 100%);
    background: linear-gradient(to bottom, rgba(121,202,243,1) 0%, rgba(54,178,235,1) 50%, rgba(121,202,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79caf3', endColorstr='#79caf3', GradientType=0 );
    border-color: #1d5590;
    border-width: 1px;
}

.generalContent {
    margin-top: 72px;
}
.disblo {
    display: block !important;
}

.marbo5 {
    margin-bottom: 5px;
}

.pato45 {
    padding-top: 45px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {

}
